<p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>

<p-card class="m-3" header="Hotel">
	<dynamic-form #dynamicForm [option]="option" [loading]="loading" (submitEvent)="onSearch($event)"></dynamic-form>
</p-card>

<p-card class="align-items-center">
	<p-toolbar styleClass="">
		<ng-template pTemplate="right">
			<button pButton pRipple label="เพิ่ม" icon="pi pi-plus" class="button-sm" routerLink="add"></button>
		</ng-template>
	</p-toolbar>

	<p-table [columns]="cols" dataKey="id" [resizableColumns]="true" [autoLayout]="true" [value]="virtualData"
		[scrollable]="true" [rows]="defualtRow" scrollHeight="450px" [virtualScroll]="true" [virtualRowHeight]="40"
		[lazy]="true" (onLazyLoad)="onLoadLazy($event)" [loading]="loading" styleClass="p-datatable-striped"
		(onSort)="customSort($event)" [customSort]="true">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th class="text-center" pSortableColumn="name">
					<span>ชื่อโรงแรม</span>
					<p-sortIcon field="name"></p-sortIcon>
				</th>
				<th class="text-center"><span>ที่อยู่</span></th>
				<th class="text-center"><span>วันที่สร้าง</span></th>
				<th class="text-center"><span>วันที่แก้ไข</span></th>
				<th class="text-center" style="width: 50px"><span>จัดการ</span></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-data let-columns="columns">
			<tr style="height:65px">
				<td class="text-center">{{data.name}}</td>
				<td class="text-center">{{data.address}}</td>
				<td class="text-center">{{data.createDateDesc}}</td>
				<td class="text-center">{{data.updateDateDesc}}</td>
				<td class="text-center" style="width: 50px">
					<button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-warning p-button-sm mr-2"
						[routerLink]="['booking',data.id]">
					</button>
					<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-sm mr-2"
						[routerLink]="['edit/',data.id]">
					</button>
					<button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger button-sm"
						(click)="onDelete(data.id)">
					</button>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr class="">
				<td class="text-center"><span class="text-secondary">ไม่มีข้อมูล</span></td>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody" let-columns="columns">
			<tr style="height:65px">
				<td *ngFor="let col of columns">
					<div class="loading-text"></div>
					<p-skeleton [ngStyle]="{'width': '100%'}"></p-skeleton>
				</td>
			</tr>
		</ng-template>
	</p-table>
</p-card>