<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
	<div class="grid">
		<div class="field col">
			<label for="firstName">ชื่อ</label>
			<input class="w-full p-inputtext-sm inputfield" id="firstName" type="text" autocomplete="none"
				aria-describedby="firstName" formControlName="firstName" pInputText />
		</div>
		<div class="field col">
			<label for="lastName">นามสกุล</label>
			<input class="w-full p-inputtext-sm inputfield" id="lastName" type="text" autocomplete="none"
				aria-describedby="lastName" formControlName="lastName" pInputText />
		</div>
		<div class="field col">
			<label for="fromPrice">ราคาตั้งแต่</label>
			<p-inputNumber class="w-full p-inputtext-sm" styleClass="w-full" inputId="fromPrice"
				formControlName="fromPrice">
			</p-inputNumber>
		</div>
		<div class="field col">
			<label for="toPrice">ถึงราคา</label>
			<p-inputNumber class="w-full p-inputtext-sm" styleClass="w-full" inputId="toPrice"
				formControlName="toPrice">
			</p-inputNumber>
		</div>
	</div>
	<div class="grid">
		<div class="field col">
			<label for="checkInFrom">Check In ตั้งแต่</label>
			<p-calendar inputId="checkInFrom" id="checkInFrom" class="p-inputtext-sm" styleClass="w-full" appendTo="body"
				formControlName="checkInFrom" [showButtonBar]="true">
			</p-calendar>
		</div>
		<div class="field col">
			<label for="checkInTo">ถึง</label>
			<p-calendar inputId="checkInTo" id="checkInTo" class="p-inputtext-sm" styleClass="w-full" appendTo="body"
				formControlName="checkInTo" [showButtonBar]="true">
			</p-calendar>
		</div>
		<div class="field col">
			<label for="checkOutFrom">Check Out ตั้งแต่</label>
			<p-calendar inputId="checkOutFrom" id="checkOutFrom" class="p-inputtext-sm" styleClass="w-full" appendTo="body"
				formControlName="checkOutFrom" [showButtonBar]="true">
			</p-calendar>
		</div>
		<div class="field col">
			<label for="checkOutTo">ถึง</label>
			<p-calendar inputId="checkOutTo" id="checkOutTo" class="p-inputtext-sm" styleClass="w-full" appendTo="body"
				formControlName="checkOutTo" [showButtonBar]="true">
			</p-calendar>
		</div>
	</div>
	<div class="grid">
		<div class="field col-3">
			<label for="checkOutTo">ถึง</label>
			<p-dropdown class="p-inputtext-sm w-full" styleClass="w-full" [options]="statuses" optionValue="id"
				optionLabel="name" placeholder="ทั้งหมด" formControlName="statusId"></p-dropdown>
		</div>
	</div>

	<p-button type="submit" label="ค้นหา"></p-button>
</form>